logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# General
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/plugins/project/


# Play
logs
RUNNING_PID

# Scala
*.class
*.log

# Scala-IDE specific
.scala_dependencies
.worksheet
